<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9ad2d6">  <td>18/04/16 14:31:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UsingExcell.setUp()[pri:0, instance:DataDrivenTest.UsingExcell@7791a895]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>18/04/16 14:31:29</td>   <td>4949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcell.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcell@7791a895]">testUsingExcel</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>18/04/16 14:31:30</td>   <td>5660</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcell.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcell@7791a895]">testUsingExcel</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>18/04/16 14:31:30</td>   <td>6175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcell.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcell@7791a895]">testUsingExcel</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>18/04/16 14:31:31</td>   <td>6669</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcell.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcell@7791a895]">testUsingExcel</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>18/04/16 14:31:31</td>   <td>7187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcell.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcell@7791a895]">testUsingExcel</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>18/04/16 14:31:32</td>   <td>7706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcell.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcell@7791a895]">testUsingExcel</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>18/04/16 14:31:32</td>   <td>8313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcell.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcell@7791a895]">testUsingExcel</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>18/04/16 14:31:33</td>   <td>8844</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcell.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcell@7791a895]">testUsingExcel</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>18/04/16 14:31:33</td>   <td>9415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcell.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcell@7791a895]">testUsingExcel</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>18/04/16 14:31:34</td>   <td>9963</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcell.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcell@7791a895]">testUsingExcel</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>18/04/16 14:31:34</td>   <td>10511</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UsingExcell.tearDown()[pri:0, instance:DataDrivenTest.UsingExcell@7791a895]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603650290</td>   <td></td> </tr>
</table>
